*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(res/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
a{
    text-decoration: none;
    color: rgb(255,143,68);
}
p, h2, label{
    margin: 5%;
    color: rgba(159, 64, 0, 1);

}
h2{
    text-align: center;
    letter-spacing: 5px;
}
ul{
    margin: 0 auto;
    text-align: center;
}

.horiz-nav-bar{
    display: inline;
    color: rgb(255,143,68);
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}
.gen_form{
    padding: 2%;
    margin: 0 auto;

}
.input_left{
    width:50% ;
    margin-right: 50%;
    margin-left: 5%;
    height: 20px;
    margin-bottom: 2%;
}
.submit_left{
    height: 50px;
    width: 100px;
    margin-right: 50%;
    margin-left: 5%;
    margin-bottom: 2%;
}

#main-content{
    width: 90%;
    margin: 0 auto;
}
#main-text{
    border: 3px solid rgba(202,82,1, .8);
    background-color:  rgba(255,255,255, .5);;
}
#top-nav{
    width: 60%;
    margin: 0 auto;
}